.spring-wood {
  color: #F7F6EF !important; }

/* Teracy brand color palette */
.cerulean {
  color: #00B9F2 !important; }

.atlantis {
  color: #AFD238 !important; }

.studio {
  color: #7A4ABA !important; }

.selective-yellow {
  color: #FFB600 !important; }

.dodger-blue {
  color: #3F56FE !important; }

.deep-sea {
  color: #007F6A !important; }

.verdun-green {
  color: #405F01 !important; }

.red-beech {
  color: #7F2C00 !important; }
